:root {
    --background-main: #000000;
    --background-secondary: #1b1b1b;
    --background-tertiary: #181818;
    --default-text: #ffffff;
    --padding-amount: 20px;
    --margin-amount: 40px;
    --border-radius: 8px;
}
.debug {
    border: 3px solid red;
}

::-webkit-scrollbar {
    display: none;
}

.push-down {
    margin-top: 60px !important;
}
.push-top {
    margin-bottom: 60px !important;
}

@media screen and (orientation: portrait) {
    [type="desktop"] {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    [type="mobile"] {
        display: none;
    }
}